.tasker{
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
body{
  /* background-color: black; */
}
 input{
  height: 2rem;
  width: 20rem;
}
input:focus{

}
 button{
  height: 2.4rem;
  font-size: 1rem;
}
.error {
  display: none;
}